<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="generalBase::layout(~{::section})">
   <head>
      <meta charset="ISO-8859-1">
   </head>
   <body>
      <section>
         <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
         <script>
            $(document).ready(function(){
              $('#galleryOption').css('border-bottom', '3px solid black');
            });
         </script>
         <div class="space-y-12 mx-auto w-1/2 mt-12">
            <div class="grid grid-cols-2 gap-4">
               <div>
                  <div class="mx-auto max-w-sm rounded overflow-hidden shadow-lg">
                     <img class="w-full" th:src="@{/gallery/landingPage.png}">
                     <div>
                        <div class="font-semibold text-base mt-1 mb-1 text-center">Landing Page</div>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="mx-auto max-w-sm rounded overflow-hidden shadow-lg">
                     <img class="w-full" th:src="@{/gallery/registrationPage.png}">
                     <div>
                        <div class="font-semibold text-base mt-1 mb-1 text-center">Registration Page</div>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="mx-auto max-w-sm rounded overflow-hidden shadow-lg">
                     <img class="w-full" th:src="@{/gallery/aboutPage.png}">
                     <div>
                        <div class="font-semibold text-base mt-1 mb-1 text-center">About Page</div>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="mx-auto max-w-sm rounded overflow-hidden shadow-lg">
                     <img class="w-full" th:src="@{/gallery/onSuccessfulRegistration.png}">
                     <div>
                        <div class="font-semibold text-base mt-1 mb-1 text-center">On Successful Registration</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>